# R specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
renv/

# Quarto specific files
/.quarto/
_site/
_site.yml
_quarto_nav.yml

# OS specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

**/*.quarto_ipynb
